// TOOLBOX COLORS
//---------------------------------------------------------------------
$white: #FDFDFD;
$black: #202020;
$darkgray: #333;
$blood: #730F17;
$teal: #54706A;

// PROJECT COLORS
//---------------------------------------------------------------------